body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: gray;
}
.main_logo{
   
    
width: 337px;
height: 225px;



        

    
}
.card{
    
width: 337px;
height: 495px;

background: #574F69;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
margin-left: auto;
    margin-right: auto;


}
.card-title{
    
   
    width: 200px;
    height: 23px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left:auto;
    margin-right:auto;
}
.card-desc{

    
width: 193px;
height: 35px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
margin-left:auto;
margin-right:auto;
margin-top: 25px;

color: #000000;
}
.card-inst{
    
width: 64px;
height: 64px;

}
.card-tube{
    width: 64px;
height: 64px;

}
.card-git{
    width: 64px;
height: 64px;

}
.inst{
    
    width: 64px;
    height: 64px;
}
.tube{
    
    width: 64px;
height: 64px;
}
.git{
    
    
    width: 64px;
height: 64px;
}
.pictures{
   
    display: flex;
}